<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name given is <%= name  %></h1>
    <!-- you can assume that you are writing the js inside <%= %> -->
    <h1>performing mathematical calculation inside it <%= 3+4 %></h1>
    <!-- basically all the values that you are passing from backend are inside the locals object -->
    <h1>locals object <%= locals %></h1>
    <h1>locals object name <%= locals.name %></h1>
</body>
</html>